* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  user-select: none;
}

html,
body {
  height: 100%;
}

.room-side-bar {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 75px;
  background-color: black;
}

.home {
  width: 50px;
  height: 50px;
  margin-top: 20px;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
}

.home i::before {
  color: rgb(161, 232, 185);
  position: relative;
  font-size: 2.25rem;
  top: 15px;
  right: 15px;
}

.home:hover {
  background-color: white;
  border-radius: 20%;
  transition: 0.3s;
}

i.home.icon {
  width: 0;
  height: 0;
}

.room-position {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.room {
  width: 50px;
  height: 50px;
  margin-top: 10px;
  background-size: cover;
  border-radius: 50%;
  cursor: pointer;
}

.room:hover {
  transition: 0.3s;
  border-radius: 20%;
}

.create-room {
  width: 50px;
  height: 50px;
  margin-top: 10px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}

.create-room i::before {
  color: rgb(161, 232, 185);
  position: relative;
  font-size: 1.75rem;
  top: 15px;
  right: 1px;
}

.create-room:hover {
  background-color: white;
  border-radius: 20%;
  transition: 0.3s;
}

.sign-out {
  position: absolute;
  bottom: 50px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
}

.sign-out i::before {
  color: rgb(161, 232, 185);
  position: relative;
  font-size: 2rem;
  top: 15px;
  right: 10px;
}

i.sign-out.icon {
  width: 0;
  height: 0;
}

.sign-out:hover {
  background-color: white;
  border-radius: 20%;
  transition: 0.3s;
}

.channel-side-bar {
  position: absolute;
  left: 75px;
  width: 240px;
  height: 100vh;
  background-color: rgb(17, 17, 17);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.request-headline {
  width: 95%;
  text-align: left;
  color: #dcdddc;
  margin-top: 10px;
  margin-bottom: 7px;
}

.pending-friends {
  margin-bottom: 20px;
  margin-left: 5px;
  width: 98%;
  height: 220px;
  border-radius: 5px;
  overflow-y: scroll;
}

.pending-friends::-webkit-scrollbar {
  width: 4px;
}

.pending-friends::-webkit-scrollbar-thumb {
  background-color: #555555;
}

.pending-friends:hover::-webkit-scrollbar-thumb {
  background-color: #555555;
}

.friend-request {
  width: 98%;
  height: 40px;
  margin: 10px 0px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.friend-request:hover {
  background-color: rgb(34, 34, 34);
}

.friend-request:hover .request-name {
  color: white;
}

.friend-request:hover .request-accept {
  color: #bbbfbb;
}

.friend-request:hover .request-reject {
  color: #bbbfbb;
}

.request-thumbnail {
  background-image: url("https://d28ad0xxqchuot.cloudfront.net/user/1/picture/ron.png");
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.request-name {
  font-size: 1.5rem;
  margin: 0px 0px 0px 15px;
  color: #bbbfbb;
}

.request-online {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  left: 25px;
  bottom: 0px;
  border: 2px solid #000000de;
}

.request-accept {
  position: absolute;
  right: 40px;
  font-size: 1.2rem;
  color: rgb(17, 17, 17);
}

.request-accept:hover {
  color: white !important;
}

.request-reject {
  position: absolute;
  right: 10px;
  font-size: 1.2rem;
  color: rgb(17, 17, 17);
}

.request-reject:hover {
  color: white !important;
}

.friend-headline {
  width: 100%;
  text-align: left;
  color: #dcdddc;
  border-top: 2px solid #292929;
  padding-top: 10px;
  padding-left: 5px;
  margin-bottom: 5px;
}

.friends {
  width: 100%;
  height: calc(100vh - 450px);
  border-radius: 5px;
  overflow-y: scroll;
}

.friends::-webkit-scrollbar {
  width: 4px;
}

.friends::-webkit-scrollbar-thumb {
  background-color: #555555;
}

.friends:hover::-webkit-scrollbar-thumb {
  background-color: #555555;
}

.friend {
  width: 96%;
  height: 40px;
  margin: 10px 0px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.friend:hover {
  background-color: rgb(34, 34, 34);
}

.friend-enable {
  background-color: rgb(34, 34, 34);
}

.friend:hover .friend-name {
  color: white;
}

.friend-thumbnail {
  background-image: url("https://d28ad0xxqchuot.cloudfront.net/user/1/picture/harry%20potter.jpg");
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.friend-name {
  font-size: 1.5rem;
  margin: 0px 0px 0px 15px;
  color: #bbbfbb;
}

.friend-online {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 27px;
  bottom: 0px;
  border-radius: 50%;
  border: 2px solid #000000de;
}

.channels {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.add-friend-btn {
  width: 95%;
  height: 30px;
  background-color: rgb(11, 56, 1);
  color: #dcdddc;
  margin: 5px;
  margin-top: 0;
  padding: 5px;
  border: none;
  border-radius: 2px;
  text-align: left;
  cursor: pointer;
}

.add-friend-btn:hover {
  background-color: white;
  color: black;
  transition: 0.5s;
}

.add-friend-box {
  width: 400px;
  height: 230px;
  border-radius: 10px;
  background-color: rgb(55, 55, 55);
  position: relative;
  display: flex;
  flex-direction: column;
}

.add-friend-box h2 {
  padding-top: 20px;
  padding-left: 20px;
  font-size: 2rem;
  color: #d8dad8;
}

.add-friend-box input {
  width: 90%;
  height: 40px;
  margin: 20px 0px;
  align-self: center;
  border-radius: 5px;
  outline: none;
  border: none;
  padding-left: 10px;
  font-size: 1.5rem;
  background-color: #555555;
  caret-color: #dcdddc;
  color: #dcdddc;
}

.add-friend-box input::placeholder {
  color: #8e8e8e;
}

.add-friend-box button {
  margin: 20px;
  margin-top: 10px;
  margin-bottom: 0;
  width: 25%;
  height: 40px;
  background-color: rgb(2, 160, 2);
  color: #ffffff;
  border: none;
  border-radius: 4px;
  align-self: flex-end;
  cursor: pointer;
  font-size: 1.1rem;
}

.channel {
  width: 95%;
  height: 30px;
  background-color: rgb(47, 46, 46);
  color: #dcdddc;
  margin: 5px;
  padding: 5px;
  border-radius: 2px;
  cursor: pointer;
}

.channel:hover {
  background-color: white;
  color: black;
  transition: 0.5s;
}

.host-info {
  position: absolute;
  left: 75px;
  bottom: 0px;
  width: 240px;
  height: 70px;
  background-color: rgb(36, 36, 36);
  display: flex;
  align-items: center;
  color: white;
}

.host-thumbnail {
  width: 45px;
  height: 45px;
  background-position: center;
  background-size: cover;
  border-radius: 100%;
  margin: 0px 15px;
}

.host-online {
  position: absolute;
  bottom: 8px;
  left: 40px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 3px solid rgb(36, 36, 36);
}

.host-name {
  font-size: 1.5rem;
  padding-bottom: 15px;
}

.host-id {
  position: absolute;
  left: 75px;
  bottom: 10px;
  color: #a2a3a2;
}

.host-setting {
  position: absolute;
  right: 30px;
  top: 25px;
}

.host-setting i::before {
  font-size: 1.5rem;
  color: #5a5959;
  cursor: pointer;
}

.host-setting i:hover::before {
  color: white !important;
}

.chat-room {
  position: absolute;
  width: calc(100vw - 315px);
  height: calc(100vh - 50px);
  left: 315px;
}

.top-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: black;
  color: white;
  position: relative;
}

.tools {
  color: #8e8e8e;
  display: flex;
  align-items: center;
  position: absolute;
  right: 0px;
  list-style-type: none;
  font-size: 1.5rem;
}

.tools li {
  margin: 0px 12px;
  position: relative;
}

.tools li i:nth-child(1):hover {
  color: #dcdddc;
  cursor: pointer;
}

.pin-messages-box {
  width: 300px;
  height: 390px;
  background-color: rgb(66, 66, 66);
  position: absolute;
  z-index: 105;
  top: 30px;
  right: 20px;
}

.tool-enable {
  color: #dcdddc;
}

.pin-box-headline {
  background-color: #282727;
  height: 40px;
  padding-top: 10px;
  padding-left: 25px;
  color: #dcdddc;
}

.pin-messages {
  overflow-y: scroll;
  height: 350px;
}

.pin-message-box {
  width: 100%;
  min-height: 50px;
  background-color: #5a5959;
  border-bottom: 1px solid gray;
  display: flex;
  flex-direction: column;
  color: #dcdddc;
  position: relative;
}

.pin-thumbnail {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 10px;
  left: 20px;
}

.pin-name {
  font-size: 1rem;
  color: darkorange;
  margin-right: 5px;
}

.pin-time {
  font-size: 0.4rem;
  color: #aea0a0;
}

.pin-info {
  display: flex;
  align-items: center;
  margin-left: 60px;
  margin-top: 7px;
}

.pin-description {
  width: 60%;
  margin-left: 60px;
  font-size: 1rem;
  word-wrap: break-word;
  word-break: break-all;
}

.search-messages-box {
  width: 300px;
  height: 390px;
  background-color: rgb(66, 66, 66);
  position: absolute;
  z-index: 100;
  top: 35px;
  right: -50px;
}

.search-box-headline {
  background-color: #282727;
  height: 40px;
  padding-top: 10px;
  padding-left: 25px;
  color: #dcdddc;
}

.search-messages {
  overflow-y: scroll;
  height: 350px;
}

.search-message-box {
  width: 100%;
  min-height: 50px;
  background-color: #5a5959;
  border-bottom: 1px solid gray;
  display: flex;
  flex-direction: column;
  color: #dcdddc;
  position: relative;
}

.search-thumbnail {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 10px;
  left: 20px;
}

.search-name {
  font-size: 1rem;
  color: darkorange;
  margin-right: 5px;
}

.search-time {
  font-size: 0.4rem;
  color: #aea0a0;
}

.search-info {
  display: flex;
  align-items: center;
  margin-left: 60px;
  margin-top: 7px;
}

.search-description {
  width: 60%;
  margin-left: 60px;
  font-size: 1rem;
  word-wrap: break-word;
  word-break: break-all;
}

.room-search {
  position: relative;
}

.room-search div.loader {
  position: absolute !important;
  left: 220px !important;
  top: 3px !important;
}

.room-search input {
  border: none;
  background-color: #292929;
  caret-color: #dcdddc;
  border-radius: 5px;
  padding: 5px 10px;
  width: 100px;
  font-size: 1.25rem;
  color: #dcdddc;
  transition: 0.3s;
}

.search-options {
  position: absolute;
  top: 40px;
  right: 0px;
  width: 250px;
  height: 120px;
  background-color: #5a5959;
  z-index: 100;
  border-radius: 5px;
}

.search-options ul {
  height: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
}

.search-options ul li {
  padding: 8px 10px;
  margin: 0;
  color: #dcdddc;
  display: flex;
  align-items: center;
  position: relative;
}

.search-options ul li:hover {
  background-color: #818181;
  border-radius: 5px;
}

.search-options ul li p {
  margin: 0;
}

.search-options ul li input {
  position: absolute;
  right: 10px;
  outline: none;
  caret-color: #dcdddc;
}

.mail-messages-box {
  width: 350px;
  height: calc(100vh - 50px);
  background-color: rgb(66, 66, 66);
  position: absolute;
  z-index: 200;
  top: 35px;
  right: 0px;
}

.mail-box-headline {
  background-color: #282727;
  height: 40px;
  padding-top: 10px;
  padding-left: 25px;
  color: #dcdddc;
}

.mail-box-headline div.loader {
  margin-left: 10px !important;
  margin-bottom: 5px !important;
}

.mail-messages {
  height: calc(100% - 40px);
  overflow-y: scroll;
}

.mail-messages div.loader {
  margin-left: 160px !important;
}

.mail-channel-info {
  width: 100%;
  background-color: #171717;
  height: 80px;
  display: flex;
  align-items: center;
  position: relative;
}

.mail-room-thumbnail {
  width: 50px;
  height: 50px;
  background-size: cover;
  background-position: center;
  z-index: 105;
  display: inline;
  margin: 0px 20px;
  border-radius: 10px;
}

.mail-channel-name {
  color: rgb(255, 255, 255);
  font-size: 1.4rem;
  margin-bottom: 15px;
  display: inline;
}

.mail-room-name {
  color: rgb(152, 152, 150);
  font-size: 0.8rem;
  margin: 0px 30px;
  position: absolute;
  bottom: 15px;
  left: 60px;
}

.mail-message-box {
  width: 100%;
  min-height: 50px;
  background-color: #5a5959;
  border-bottom: 1px solid gray;
  display: flex;
  flex-direction: column;
  color: #dcdddc;
  position: relative;
}

.mail-thumbnail {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 12px;
  left: 15px;
}

.mail-message-info {
  display: flex;
  align-items: center;
  margin-left: 60px;
  margin-top: 10px;
}

.mail-name {
  font-size: 1.25rem;
  color: rgb(253, 234, 23);
  margin-right: 10px;
}

.mail-time {
  font-size: 0.4rem;
  color: #aea0a0;
  padding-top: 4px;
}

.mail-description {
  width: 60%;
  margin-left: 60px;
  margin-bottom: 10px;
  font-size: 1.25rem;
  word-wrap: break-word;
  word-break: break-all;
}

.channel-name {
  margin-left: 40px;
  font-size: 1.5rem;
}

.chat {
  position: absolute;
  width: calc(100vw - 315px);
  height: calc(100vh - 50px);
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.messages {
  width: 100%;
  margin-top: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}

.message {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: black;
  position: relative;
  margin: 1rem 0px;
}

.message-thumbnail-box {
  width: 70px;
  height: 100%;
  display: flex;
  justify-content: center;
}

.message-user-thumbnail {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 10px;
  left: 30px;
  background-size: cover;
  border-radius: 50%;
}

.message-text {
  width: calc(100% - 70px);
  height: auto;
}

.reply-to {
  color: #dcdddc;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.reply-to > * {
  margin: 0px 2px;
}

.reply-thumbnail {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}

.message-user-thumbnail.reply {
  top: 30px;
}

.message-info {
  display: flex;
}

.message-name {
  margin: 0px 15px;
  margin-top: 10px;
  font-size: 1.5rem;
  color: rgb(161, 232, 185);
}

.message-time {
  margin-top: 13px;
  color: #a2a3a2;
}

.message-description p {
  margin: 0;
  font-size: 1.25rem;
  display: flex;
  color: #dcdddc;
  width: 70%;
  word-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
}

.message-description small {
  color: #dcdddc;
}

.message-description {
  margin: 5px 15px;
  padding: 2px 0px;
  position: relative;
}

.thumbs-up {
  display: flex;
}

.thumbs-up-emoji {
  padding: 3px 8px;
  background-color: #3e3e3e;
  margin: 3px;
  color: #ffffff;
  border-radius: 5px;
}

.message-options {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  bottom: 2px;
  width: 15%;
  list-style-type: none;
  font-size: 1.25rem;
  color: black;
}

.message-description:hover .message-options {
  transition: 0.2s;
  color: #8e8e8e;
}

.message-options i {
  width: 0;
  height: 0;
}

.message-description:hover .message-delete {
  transition: 0.2s;
  color: #cd0000;
}

.red {
  color: red;
}

.yellow {
  color: yellow;
}

.message-options > * {
  cursor: pointer;
  padding: 3px;
  border-radius: 2px;
}

.message-options > *:hover {
  background-color: #292929;
}

.message-options i::before {
  margin-left: 2px;
}

/* .message-edit {
    width: 20px;
    height: 20px;
    color: #8e8e8e;
    cursor: pointer;
    background-color: red;
    position: absolute;
    bottom: 4px;
    right: 10px;
  }
  
  .message-edit:hover {
    background-color: #232323;
  }
  
  .message-edit i::before {
    margin-left: 2px;
  } */

.message-box {
  width: 100%;
  height: 80px;
  min-height: 80px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  position: relative;
}

.enter-reply {
  width: 100%;
  height: 30px;
  position: absolute;
  top: -13px;
  background-color: #282727;
  font-size: 1.2rem;
  /* position: relative; */
}

.message-box p {
  color: #b2b0b0;
  position: absolute;
  top: 3px;
  left: 88px;
}

.reply-cancel {
  color: #b2b0b0;
  position: absolute;
  right: 200px;
  top: 3px;
  cursor: pointer;
}

.reply-cancel:hover {
  color: #dcdddc;
}

.message-box i {
  width: 0;
  height: 0;
}

.message-box i::before {
  color: #dcdddc;
  font-size: 2.2rem;
  position: absolute;
  left: 30px;
  bottom: 30px;
  cursor: pointer;
}

.enter-message {
  width: 80%;
  height: 40px;
  background-color: black;
  border: none;
  font-size: 1.5rem;
  position: absolute;
  left: 30px;
  caret-color: #dcdddc;
  color: white;
}

.enter-message:focus {
  outline: none;
}

.float {
  position: absolute;
  z-index: 2;
}

.mask.enable {
  background-color: rgb(0, 0, 0, 0.9);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.create-channel-box {
  background-color: rgb(55, 55, 55);
  color: #dcdddc;
  width: 450px;
  height: 390px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-channel-box > * {
  margin: 10px 0px;
}

.create-channel-headline {
  width: 90%;
  margin-top: 40px;
}

.create-channel-headline h3 {
  font-size: 2rem;
}

.create-text-channel {
  background-color: rgb(45, 46, 46);
  width: 90%;
  height: 60px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.create-text-channel:hover {
  background-color: rgb(26, 26, 26);
}

.create-text-channel i::before {
  font-size: 1.75rem;
  position: absolute;
  left: 20px;
}

.create-text-channel h3 {
  font-size: 1.5rem;
  margin: 0px 30px;
  position: absolute;
  left: 30px;
  top: 5px;
}

.create-text-channel h4 {
  font-size: 1rem;
  position: absolute;
  left: 60px;
  top: 10px;
  color: #8e8e8e;
}

.create-voice-channel {
  background-color: rgb(45, 46, 46);
  width: 90%;
  height: 60px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.create-voice-channel:hover {
  background-color: rgb(26, 26, 26);
}

.create-voice-channel i::before {
  font-size: 1.75rem;
  position: absolute;
  left: 20px;
}

.create-voice-channel h3 {
  font-size: 1.5rem;
  margin: 0px 30px;
  position: absolute;
  left: 30px;
  top: 5px;
}

.create-voice-channel h4 {
  font-size: 1rem;
  position: absolute;
  left: 60px;
  top: 10px;
  color: #8e8e8e;
}

.create-channel-name {
  width: 90%;
  height: 40px;
  border-radius: 5px;
  border: none;
  padding: 10px;
  font-size: 20px;
  background-color: rgb(34, 35, 35);
  caret-color: white;
  color: white;
}

.create-channel-name::placeholder {
  color: #8e8e8e;
}

.create-channel-name:focus {
  outline: none;
}

.create-channel-btn {
  margin: 20px;
  margin-bottom: 0;
  width: 25%;
  height: 40px;
  background-color: rgb(2, 160, 2);
  color: #ffffff;
  border: none;
  border-radius: 4px;
  align-self: flex-end;
  cursor: pointer;
  font-size: 1.1rem;
}

.join-room-box {
  background-color: rgb(255, 255, 255);
  width: 450px;
  height: 430px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  position: relative;
}

.create-room-box {
  margin: 20px;
  margin-bottom: 0px;
  width: 90%;
  display: flex;
  flex-direction: column;
  z-index: 100;
}

.create-room-box h2 {
  margin: 0;
  font-size: 2.5rem;
}
.create-room-box h3 {
  margin: 0;
}
.create-room-image {
  margin: 20px;
  align-self: center;
}

.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 30px auto;
}

.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}

.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit label {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}

.avatar-upload .avatar-edit label i {
  color: rgb(75, 75, 75);
  margin-left: 1px;
}
.avatar-upload .avatar-preview {
  width: 120px;
  height: 120px;
  position: relative;
  border-radius: 100%;
  border: 3px solid #f8f8f8;
  background-color: #dcdddc;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.create-room-name {
  margin: 10px;
  width: 80%;
  height: 30px;
  align-self: center;
  background-color: #dcdddc;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
  border: none;
  padding: 0.5rem;
}

.create-room-btn {
  margin: 20px;
  margin-bottom: 0;
  width: 25%;
  height: 40px;
  background-color: rgb(2, 160, 2);
  color: #ffffff;
  border: none;
  border-radius: 4px;
  align-self: flex-end;
  cursor: pointer;
  font-size: 1.1rem;
}

.create-room-btn:hover {
  background-color: green;
}

.create-room-box p {
  color: #3273ec;
  font-weight: 700;
  text-align: right;
  margin-top: 1rem;
  cursor: pointer;
  padding: 10px;
  padding-top: 0;
}

.create-room-box p:hover {
  text-decoration: underline;
}

.join-exist-room {
  margin: 20px;
  margin-bottom: 0px;
  width: 90%;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform: translateX(50%);
  position: absolute;
  bottom: 25px;
  z-index: 0;
}

.join-exist-room h2 {
  margin: 0;
  font-size: 2.5rem;
}
.join-exist-room h3 {
  margin: 0;
}

.join-room-id {
  margin: 10px;
  margin-top: 25px;
  width: 70%;
  height: 30px;
  align-self: center;
  background-color: #dcdddc;
  border-radius: 5px;
  font-size: 1.25rem;
  outline: none;
  border: none;
  padding: 0.5rem;
}

.join-room-btn {
  margin: 20px;
  margin-bottom: 0;
  width: 25%;
  height: 40px;
  background-color: rgb(2, 160, 2);
  color: #ffffff;
  border: none;
  border-radius: 4px;
  align-self: flex-end;
  cursor: pointer;
  font-size: 1.1rem;
}

.join-room-btn:hover {
  background-color: green;
}

.join-exist-room p {
  color: #3273ec;
  font-weight: 700;
  text-align: right;
  cursor: pointer;
  position: absolute;
  bottom: 2px;
  padding: 10px;
  padding-bottom: 0;
}

.join-exist-room p:hover {
  text-decoration: underline;
}

.user-info {
  background-color: #272a2e;
  width: 600px;
  height: 500px;
  border-radius: 10px;
  position: relative;
}

.user-background {
  width: 100%;
  height: 130px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.user-thumbnail {
  width: 130px;
  height: 130px;
  background-position: center;
  background-size: cover;
  border-radius: 100%;
  position: absolute;
  top: 70px;
  left: 30px;
  border: 7px solid #272a2e;
}

.user-name {
  color: #f8f8f8;
  position: absolute;
  top: 150px;
  left: 180px;
  font-size: 2.2rem;
}

.user-info-options {
  position: absolute;
  top: 220px;
  display: flex;
  color: #818181;
}

.user-info-options > * {
  margin: 10px 20px;
  margin-top: 0px;
  padding: 10px 0px 20px 0px;
  cursor: pointer;
  z-index: 1;
}

.user-info-options > *:hover {
  color: white;
  border-bottom: 1px solid white;
}

.info-option-enable {
  color: white;
  border-bottom: 1px solid white;
}

.user-option-result {
  position: absolute;
  top: 270px;
  width: 100%;
  height: calc(100% - 270px);
  border-top: 1px solid #4a4b4d;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.user-introduction {
  width: 95%;
  height: 90%;
  font-size: 1.5rem;
  word-wrap: break-word;
  word-break: break-all;
  color: white;
  padding-top: 10px;
}

.mutual-room {
  width: 95%;
  height: 40px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  color: white;
}

.mutual-room-thumbnail {
  width: 40px;
  height: 40px;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  margin-right: 20px;
}

.mutual-room-name {
  font-size: 1.25rem;
}

.mutual-friend {
  width: 95%;
  height: 40px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  color: white;
}

.mutual-friend-thumbnail {
  width: 40px;
  height: 40px;
  background-image: url("https://d28ad0xxqchuot.cloudfront.net/preset/1/picture/dogee.png");
  background-position: center;
  background-size: cover;
  border-radius: 100%;
  margin-right: 20px;
}

.mutual-friend-name {
  font-size: 1.25rem;
}

.edit-host-info {
  width: 600px;
  height: 500px;
  background-color: #4a4b4d;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: white;
}

.edit-host-headline {
  align-self: flex-start;
  font-size: 2.5rem;
  font-weight: 700;
  margin-left: 30px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.background-upload {
  position: relative;
  width: 100%;
  margin: 10px auto;
}

.host-background-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}

.host-background-edit input {
  display: none;
}

.host-background-edit label {
  display: inline-block;
  position: absolute;
  top: -2px;
  right: 27px;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background: white;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}

.host-background-edit label i {
  color: rgb(75, 75, 75);
  margin-left: 3px;
  margin-top: 2px;
}

.host-background-preview {
  width: 90%;
  height: 150px;
  position: relative;
  margin-left: 30px;
  border-radius: 5px;
  background-color: #dcdddc;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.host-background-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.picture-upload {
  position: absolute;
  top: 150px;
  left: 200px;
  width: 100%;
  z-index: 3;
}

.host-picture-edit {
  position: relative;
  left: 100px;
  z-index: 1;
  top: 10px;
}

.host-picture-edit input {
  display: none;
}

.host-picture-edit label {
  display: inline-block;
  position: absolute;
  left: 20px;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background: white;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}

.host-picture-edit label i {
  color: rgb(75, 75, 75);
  margin-left: 3px;
  margin-top: 2px;
}

.host-picture-preview {
  width: 120px;
  height: 120px;
  position: relative;
  margin-left: 30px;
  border-radius: 100%;
  border: 5px solid #4a4b4d;
  background-color: #dcdddc;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.host-picture-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.edit-host-name {
  margin-top: 40px;
  margin-right: 20px;
  text-align: center;
  font-size: 2.5rem;
  color: white;
  outline: none;
}

.edit-host-introduction {
  width: 90%;
  margin-top: 10px;
  background-color: #454545;
  resize: none;
  border: none;
  outline: none;
  font-size: 1.25rem;
  padding: 5px 10px;
  border-radius: 5px;
  caret-color: #dcdddc;
  color: white;
}

.edit-host-btn {
  width: 60px;
  height: 40px;
  background-color: rgb(2, 160, 2);
  color: #ffffff;
  border: none;
  border-radius: 4px;
  align-self: center;
  cursor: pointer;
  font-size: 1.1rem;
  margin: 20px 0px;
  padding: 10px 10px;
}

.edit-room-box {
  width: 450px;
  height: 400px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  z-index: 100;
}

.edit-room-box h2 {
  padding-top: 20px;
  padding-left: 20px;
  font-size: 2.5rem;
}

.room-upload {
  position: relative;
  max-width: 205px;
  margin: 30px auto;
}

.room-upload .room-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}

.room-upload .room-edit input {
  display: none;
}
.room-upload .room-edit label {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}

.room-upload .room-edit label i {
  color: rgb(75, 75, 75);
  margin-left: 1px;
}

.room-upload .room-preview {
  width: 120px;
  height: 120px;
  position: relative;
  border-radius: 100%;
  border: 3px solid #f8f8f8;
  background-color: #dcdddc;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.room-upload .room-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.edit-room-name {
  margin: 10px;
  width: 80%;
  height: 30px;
  align-self: center;
  background-color: #dcdddc;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
  border: none;
  padding: 0.5rem;
}

.save-room-btn {
  margin: 20px;
  margin-bottom: 0;
  width: 25%;
  height: 40px;
  background-color: rgb(2, 160, 2);
  color: #ffffff;
  border: none;
  border-radius: 4px;
  align-self: flex-end;
  cursor: pointer;
  font-size: 1.1rem;
}

@keyframes create-room-fadein {
  0% {
    opacity: 0;
    transform: translateX(-50%);
    z-index: 0;
  }

  100% {
    opacity: 1;
    z-index: 100;
  }
}

@keyframes create-room-fadeout {
  0% {
    opacity: 1;
    z-index: 100;
  }
  100% {
    opacity: 0;
    transform: translateX(-50%);
    z-index: 0;
  }
}

@keyframes exist-room-fadein {
  50% {
    opacity: 0;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes exist-room-fadeout {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }
  70% {
    opacity: 0;
    transform: translateX(50%);
  }
}

@keyframes join-room-box-small {
  30% {
    height: 430px;
  }
  100% {
    height: 240px;
  }
}

@keyframes join-room-box-big {
  0% {
    height: 240px;
  }
  70% {
    height: 430px;
  }
  100% {
    height: 430px;
  }
}
